@mixin flexProperty($direction,$width,$height){
    width: $width;
    height: $height;
    display: flex;
    flex-direction: $direction;
    align-items: center;
    flex-wrap: wrap;
        }

.postCard,.commentCard{
    background-color: #ffeaa7;    
    font-size: small;
     
    @include flexProperty(column,20rem,20rem);
}

