@mixin flexProperty{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    }

.card{
    width: 15rem;
    height: 15rem;
    background-color: aqua;
    margin: 3rem;
    @include flexProperty;
}