
$bg-color:#81ecec;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  div{
    h3{
text-align: center;
margin: 1rem;
    }
  }

.postContainer,.commentContainer{
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  
  padding: 0 .5rem;
  justify-content: center;
  flex-wrap: wrap;
}

